html{
        background-color: rgb(var(--ig-secondary-background));
        --in-feed-story-item-padding: 12px;
        --desktop-nav-height: 0px;
}
._9dls {
    overflow-y: scroll!important;
}
._aa4c {
    --base-unit: 4px;
    --blue-2: #b3dbff;
    --blue-4: #47afff;
    --blue-5: #0095f6;
    --blue-6: #0074cc;
    --blue-7: #0057a3;
    --blue-9: #002952;
    --challenge-link: 54, 54, 54;
    --clr-separator: #efefef;
    --clr_red_dark_30: #af2634;
    --cluster-card-border-radius: 8px;
    --creation-composer-height: 81px;
    --creation-header-composer-height: 126px;
    --creation-header-height: 43px;
    --creation-min-padding-x: 32px;
    --creation-modal-max-height: 898px;
    --creation-modal-min-height: 391px;
    --creation-padding-x: 64px;
    --creation-padding-y: 112px;
    --creation-settings-width: 340px;
    --cyan-5: #27c4f5;
    --desktop-center-feed-min-width-breakpoint: 1500px;
    --desktop-cluster-card-height: 89px;
    --desktop-cluster-card-width: 140px;
    --desktop-collapsed-nav-height: 52px;
    --desktop-grid-item-margin: 28px;
    --desktop-in-feed-story-item-height: 208px;
    --desktop-in-feed-story-item-width: 116px;
    --desktop-large-modal-max-height: 781px;
    --desktop-large-modal-max-width: 1491px;
    --desktop-large-modal-min-height: 664px;
    --desktop-large-modal-min-width: 908px;
    --desktop-nav-anim-duration: .2s;
    --desktop-nav-search-box-large-width: 268px;
    --desktop-nav-search-box-width: 215px;
    --desktop-regular-nav-height: 77px;
    --direct-attachment-image-grid-border-size: 1px;
    --direct-attachment-image-grid-item-size: 78px;
    --direct-attachment-story-height: 150px;
    --direct-attachment-story-large-height: 256px;
    --direct-attachment-story-large-width: 164px;
    --direct-attachment-story-width: 84px;
    --direct-message-margin: 8px;
    --direct-message-max-width: 236px;
    --docpen-lightgrey: 243, 243, 243;
    --fb-connect-blue: #4f67b0;
    --fb-signup-page-profile-pic-size: 88px;
    --feed-sidebar-padding: 32px;
    --feed-sidebar-width: 319px;
    --feed-polaris-padding-small: 32px;
    --feed-polaris-padding-med: 70px;
    --feed-polaris-padding-large: 96px;
    --feed-polaris-sidebar-width: 268px;
    --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-weight-system-bold: 700;
    --font-weight-system-extra-bold: 800;
    --font-weight-system-extra-light: 200;
    --font-weight-system-light: 300;
    --font-weight-system-medium: 500;
    --font-weight-system-regular: 400;
    --font-weight-system-semibold: 600;
    --gradient-lavender: #d300c5;
    --gradient-orange: #ff7a00;
    --gradient-pink: #ff0169;
    --gradient-purple: #7638fa;
    --gradient-yellow: #ffd600;
    --green-4: #78de45;
    --green-5: #58c322;
    --green-6: #37a600;
    --grey-0: #f5f5f5;
    --grey-1: #efefef;
    --grey-2: #dbdbdb;
    --grey-4: #a8a8a8;
    --grey-5: #8e8e8e;
    --grey-6: #737373;
    --grey-8: #363636;
    --grey-9: #262626;
    --grid-column-width: 5.555555555555555%;
    --hscc-collapse-transition-duration: .3s;
    --ig-badge: 255, 48, 64;
    --ig-banner-background: 255, 255, 255;
    --ig-close-friends-refreshed: 28, 209, 79;
    --ig-disabled-action-text: 169, 219, 255;
    --ig-elevated-background: 255, 255, 255;
    --ig-elevated-separator: 219, 219, 219;
    --ig-error-or-destructive: 237, 73, 86;
    --ig-facebook-blue: 53, 121, 234;
    --ig-focus-stroke: 168, 168, 168;
    --ig-full-screen-background: 54, 54, 54;
    --ig-highlight-background: 239, 239, 239;
    --ig-letterbox: 255, 255, 255;
    --ig-link: 0, 55, 107;
    --ig-live-badge: 255, 1, 105;
    --ig-primary-background: 255, 255, 255;
    --ig-primary-button: 0, 149, 246;
    --ig-primary-button-hover: 24, 119, 242;
    --ig-primary-text: 38, 38, 38;
    --ig-secondary-background: 250, 250, 250;
    --ig-secondary-button: 38, 38, 38;
    --ig-secondary-button-background: 239, 239, 239;
    --ig-secondary-button-hover: 219, 219, 219;
    --ig-secondary-button-focused: 224, 241, 255;
    --ig-tertiary-button-background: 255, 255, 255;
    --ig-tertiary-button-border: 219, 219, 219;
    --ig-tertiary-button-hover: 245, 245, 245;
    --ig-tertiary-button-text: 38, 38, 38;
    --ig-secondary-text: 142, 142, 142;
    --ig-separator: 219, 219, 219;
    --ig-stroke: 219, 219, 219;
    --ig-subscribers-only: 118, 56, 250;
    --ig-success: 88, 195, 34;
    --ig-temporary-highlight: 245, 251, 255;
    --ig-tertiary-text: 199, 199, 199;
    --ig-text-on-color: 255, 255, 255;
    --ig-text-on-media: 255, 255, 255;
    --igui-border-radius: 3px;
    --in-feed-story-item-height: 240px;
    --in-feed-story-item-width: 135px;
    --input-border-radius: 6px;
    --large-layout-min: 1500px;
    --like-animation-duration: 1000ms;
    --live-video-border-radius: 4px;
    --live-video-right-col-width: 336px;
    --media-info: 335px;
    --medium-layout-max: 1499px;
    --medium-layout-min: 1080px;
    --mobile-cluster-card-height: 74px;
    --mobile-cluster-card-width: 108px;
    --mobile-grid-item-margin: 2px;
    --mobile-nav-height: 45px;
    --modal-backdrop-dark: rgba(0, 0, 0, .85);
    --modal-backdrop-default: rgba(0, 0, 0, .65);
    --modal-border-radius: 12px;
    --modal-padding: 16px;
    --modal-z-index: 100;
    --nav-narrow-width: 72px;
    --nav-medium-width: 244px;
    --nav-wide-width: 335px;
    --orange-5: #fd8d32;
    --photo: 600px;
    --pink-5: #d10869;
    --post-separator: 239, 239, 239;
    --post-step-indicator: 168, 168, 168;
    --purple-5: #a307ba;
    --red-4: #ff6874;
    --red-5: #ed4956;
    --red-6: #c62330;
    --red-7: #a70311;
    --refinement-section-height: 50px;
    --revamp-nav-bottom-toolbar-height: 50px;
    --revamp-feed-card-max-height: 758px;
    --revamp-feed-card-min-height: 615px;
    --revamp-feed-card-min-width: 661px;
    --revamp-feed-card-details-section-width: 314px;
    --revamp-feed-horizontal-padding-small-screen: 32px;
    --revamp-feed-horizontal-padding-large-screen: 60px;
    --revamp-feed-vertical-padding: 32px;
    --right-rail-width: 300px;
    --scrollable-content-header-height-med: 49px;
    --scrollable-content-header-height: 44px;
    --search-box-height: 40px;
    --search-modal-height-expanded: 450px;
    --search-modal-height: 362px;
    --search-modal-top-offset: 12px;
    --search-result-height: 50px;
    --search-result-inline-top-offset: 60px;
    --search-result-list-width: 375px;
    --small-layout-max: 1079px;
    --small-layout-min: 800px;
    --story-cube-shading-duration: 200ms;
    --story-desktop-margin-bottom: 26px;
    --story-desktop-margin-top: 82px;
    --story-gallery-preview-scale-correction: 2.5;
    --story-progressbar-update-tick: .1s;
    --story-swap-animation-duration: 350ms;
    --system-10-font-size: 10px;
    --system-10-line-height: 12px;
    --system-11-font-size: 11px;
    --system-11-line-height: 13px;
    --system-12-font-size: 12px;
    --system-12-line-height: 16px;
    --system-14-font-size: 14px;
    --system-14-line-height: 18px;
    --system-16-font-size: 16px;
    --system-16-line-height: 24px;
    --system-18-font-size: 18px;
    --system-18-line-height: 24px;
    --system-20-line-height: 25px;
    --system-22-font-size: 22px;
    --system-22-line-height: 26px;
    --system-24-font-size: 24px;
    --system-24-line-height: 27px;
    --system-26-font-size: 26px;
    --system-26-line-height: 28px;
    --system-28-font-size: 28px;
    --system-28-line-height: 32px;
    --system-32-font-size: 32px;
    --system-32-line-height: 40px;
    --tos-box-shadow: 0, 0, 0;
    --web-always-black: 0, 0, 0;
    --web-always-white: 255, 255, 255;
    --web-overlay-on-media: 38, 38, 38;
    --web-secondary-action: 224, 241, 255;
    --yellow-5: #fdcb5c;
}
body._a3wf {
    background: rgb(var(--ig-primary-background));
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    margin: 0;
    overflow-y: visible;
}
.x9f619 {
    box-sizing: border-box;
}
.x1n2onr6 {
    position: relative;
}
.x1ja2u2z {
    z-index: 0;
}
.xdt5ytf {
    flex-direction: column;
}
.x78zum5 {
    display: flex;
}
.xxzkxad {
    top: var(--header-height);
}
.xat3117 {
    min-height: calc(100vh - var(--header-height));
}
.x1t2pt76 {
    min-height: inherit;
}
.x10cihs4 {
    margin-bottom: calc(-100vh + var(--header-height));
}
.xqjyukv {
    align-content: stretch;
}
.xo71vjh {
    border-bottom-left-radius: 0;
}
.xnz67gz {
    background-color: rgb(var(--ig-secondary-background));
}
.x5pf9jr {
    border-bottom-right-radius: 0;
}
.x2lah0s {
    flex-shrink: 0;
}
.x1uhb9sk {
    position: static;
}
.x1qughib {
    justify-content: space-between;
}
.x1qjc9v5 {
    align-items: stretch;
}
.x1q0g3np {
    flex-direction: row;
}
.xedcshv {
    max-height: inherit;
}
.x3igimt {
    height: inherit;
}
.xarpa2k {
    justify-content: inherit;
}
.xaigb6o {
    flex-grow: inherit;
}
.x7ja8zs {
    min-width: inherit;
}
.x4k7w5x {
    align-content: inherit;
}
.x1qrby5j {
    width: inherit;
}
.x1lytzrv {
    max-width: inherit;
}
.x1jfb8zj {
    display: inherit;
}
.x1dr59a3 {
    height: 100vh;
}
.xx6bls6 {
    padding-bottom: 20px;
}
.xvbhtw8 {
    background-color: rgb(var(--ig-primary-background));
}
.xn6708d {
    padding-right: 12px;
}
.x1ye3gou {
    padding-left: 12px;
}
.x1y1aw1k {
    padding-top: 8px;
}
.x1xgvd2v {
    width: var(--nav-narrow-width);
}
.xh8yej3 {
    width: 100%;
}
.x1to3lk4 {
    height: 92px;
}
.x5yr21d {
    height: 100%;
}
.x87ps6o {
    user-select: none;
}
.xu96u03 {
    left: 0px;
}
.x10l6tqk {
    position: absolute;
} 
._a6hd._a6hd, ._a6hd._a6hd:hover {
    text-decoration: none;
}
a, a:visited {
    color: rgb(var(--ig-link));
    text-decoration: none;
}
.xt0psk2 {
    display: inline;
}
.xkhd6sd {
    padding-left: 0;
}
.xjbqb8w {
    background-color: transparent;
}
.xggy1nq {
    touch-action: manipulation;
}
.xexx8yu {
    padding-top: 0;
}
.xe8uvvx {
    list-style: none;
}
.xdj266r {
    margin-top: 0;
}
.xav7gou {
    border-left: 0;
}
.xat24cr {
    margin-bottom: 0;
}
.xaqea5y {
    border-bottom: 0;
}
.x9f619 {
    box-sizing: border-box;
}
.x6umtig {
    border-top: 0;
}
.x4uap5 {
    padding-right: 0;
}
.x1ypdohk {
    cursor: pointer;
}
.x1mh8g0r {
    margin-left: 0;
}
.x1i10hfl {
    -webkit-tap-highlight-color: transparent;
}
.x1i0vuye {
    font-family: var(--font-family-system);
}
.x1d6elog {
    height: var(--system-14-line-height);
}
.x1hl2dhg {
    text-decoration: none;
}
.x1b1mbwd {
    border-right: 0;
}
.x1a2a7pz {
    outline: none;
}
.x18d9i69 {
    padding-bottom: 0;
}
.x16tdsg8 {
    text-align: inherit;
}
.x11i5rnm {
    margin-right: 0;
}
.xwib8y2 {
    padding-bottom: 8px;
}
.x112ta8 {
    border-bottom: none;
}
.x76ihet {
    border-top: none;
}
.x5n08af {
    color: rgb(var(--ig-primary-text));
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
body._a3wf {
    background: rgb(var(--ig-primary-background));
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    margin: 0;
    overflow-y: visible;
}
body, button, input, textarea, button, input, textarea {
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
._abcj {
    position: relative;
}
._abak {
    margin-bottom: calc(var(--base-unit) * 2);
}
._ab9p {
    flex: 0 0 auto;
}
._ab9f {
    justify-content: flex-start;
}
._ab9m {
    flex-direction: column;
}
._ab99 {
    align-items: stretch;
}
._ab9i {
    justify-content: space-between;
}
._ab9k {
    flex-direction: row;
}
._ab97 {
    align-items: center;
}
._ab94 {
    align-content: stretch;
}
._ab8w {
    display: flex;
}
._ab8x {
    display: block;
}
._abcm {
    box-sizing: border-box;
    position: relative;
}
._aap8 {
    display: inline;
}
._aap6 {
    position: relative;
}
.xii2z7h {
    transition-duration: var(--fds-duration-extra-short-in);
}
.x19c4wfv {
    transition-timing-function: var(--fds-animation-expand-collapse-in);
}
.x11xpdln {
    transition-property: transform;
}
.xxk0z11 {
    height: 24px;
}
.xvy4d1p {
    width: 24px;
}
._ab6- {
    display: block;
    position: relative;
}
.x1iyjqo2 {
    flex-grow: 1;
}
.xl5mz7h.xl5mz7h {
    justify-content: flex-end;
}
.xhuyl8g.xhuyl8g {
    width: 100%;
}
.xixxii4 {
    position: fixed;
}
.x13vifvy {
    top: 0;
}
.xryxfnj {
    overflow-y: visible;
}
.xeq5yr9 {
    width: fit-content;
}
.x1plvlek {
    overflow-x: visible;
}
.x1oa3qoh {
    align-self: auto;
}
.x1nhvcw1 {
    justify-content: flex-start;
}
.x1n327nk {
    z-index: 10;
}
.x168nmei {
    border-top-left-radius: 0;
}
.x13lgxp2 {
    border-top-right-radius: 0;
}
.x1gryazu {
    margin-left: auto;
}
.x6ikm8r {
    overflow-x: hidden;
}
.xg6iff7 {
    min-height: 100vh;
}
.x1qlqyl8 {
    font-size: inherit;
}
._aalx {
    padding-top: 0px;
}
._aalz {
    display: flex;
    max-width: calc( 470px + var(--feed-sidebar-padding) + var(--feed-sidebar-width) );
    padding-top: 4px;
    flex-flow: row nowrap;
}
._aalv {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    margin: 0px auto;
    padding: 0px;
}
._aam5 {
    margin-top: 10px;
    transform: translateY(-56px);
}
._aam1 {
    flex-shrink: 0;
    transform: translateY(-62px);
    background: rgb(var(--ig-secondary-background));
    transition: transform 0.3s ease-out 0.2s;
}
._aam2 {
    float: left;
    margin-right: var(--feed-sidebar-padding);
    max-width: 470px;
    width: 100%;
}
._ab6q {
    height: 56px;
}
._ab6o {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    opacity: 1;
    padding-bottom: 0px;
    padding-top: 14px;
    transition: opacity 0.3s ease-out 0s;
}
._aac6 {
    margin-bottom: 0px;
    margin-top: 16px;
    background: rgb(var(--ig-primary-background));
    border: 1px solid rgb(var(--ig-elevated-separator));
    border-radius: 8px;
    padding: 16px 0px;
}
._aac5 {
    margin-bottom: 24px;
    border: 1px solid rgb(var(--ig-elevated-separator));
    border-radius: 3px;
}
._aac4 {
    box-sizing: border-box;
    display: block;
    overflow-y: hidden;
    position: relative;
    background: rgb(var(--ig-secondary-background));
    border-bottom: 1px solid rgb(var(--ig-elevated-separator));
    padding: 10px 0px;
}
._abc0 {
    margin-top: calc(var(--base-unit) * 4);
}

._aatb {
    max-height: inherit;
    padding: 0px;
}
._ab6k {
    margin-bottom: 12px;
    border-radius: 8px;
}
._ab6k, ._ab6s {
    background-color: rgb(var(--ig-primary-background));
    margin-left: -1px;
    margin-right: -1px;
    border: 1px solid rgb(var(--ig-elevated-separator));
    border-radius: 3px;
}
._ab6m {
    margin-bottom: 12px;
    border: 1px solid rgb(var(--ig-elevated-separator));
    border-radius: 8px;
}
._ab9h {
    justify-content: center;
}
._aatc ._aasi {
    background-color: rgb(var(--ig-primary-background));
}
._aasj {
    border-radius: 8px;
}
._aasi {
    background-color: rgb(var(--ig-secondary-background));
    border-bottom: 1px solid rgb(var(--post-separator));
    border-radius: 4px;
}
._aatk {
    background-color: rgb(var(--ig-primary-background));
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    position: relative;
}
._aacl ._aacl, ._aad7 {
    display: inline !important;
    margin: 0px !important;
}
._aacw {
    font-weight: var(--font-weight-system-semibold);
}
._ab1l {
    display: block;
    padding-bottom: 100%;
    overflow: hidden;
}
._ab1k {
    align-items: stretch;
    box-sizing: border-box;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    margin: 0px;
    padding: 0px;
}
._aato {
    max-height: inherit;
}
._acam {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
._ab1c {
    align-items: stretch;
    background-color: rgb(var(--web-always-black));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    left: 0px;
    min-width: 100%;
    position: absolute;
    top: 0px;
    vertical-align: baseline;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    margin: 0px;
    padding: 0px;
}
._aakl, ._aakh {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

._aakj {
    display: block;
    height: 135px;
    left: 50%;
    position: absolute;
    top: 50%;
    /* vertical-align: baseline; */
    width: 135px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    margin: -67px 0px 0px -67px;
    padding: 0px;
}
._aaki {
    opacity: 0;
    vertical-align: baseline;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    margin: 0px;
    padding: 0px;
    transition: opacity 0.2s ease-out 0.1s;
}
._9zwu {
    height: 135px;
    width: 135px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
._9zwu, ._a3fu, ._a3fv, ._a3fw {
    background-image: url(/rsrc.php/v3/ys/r/qv7ZSPGDNFr.png);
}
._aaqx {
    margin: 8px 4px 8px 12px;
    padding: unset;
}
._aaqw {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    position: relative;
    padding: 14px 4px 14px 16px;
}
._aasn {
    justify-content: center;
    padding-right: 4px;
}
._aasm {
    justify-content: center;
    padding-right: 8px;
}
._abl- {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 8px;
}
._abm0 {
    align-items: center;
    display: flex;
    justify-content: center;
}
._abm2 {
    padding: 0px;
}
._aa06 {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    touch-action: manipulation;
    vertical-align: baseline;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    margin: 0px;
    padding: 0px;
}
._aagu {
    background-color: rgb(var(--ig-highlight-background));
    display: block;
    width: 100%;
    position: relative;
}
._aagv {
    display: block;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}
._aagw {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
._ae1h, ._ae2q {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    position: relative;
}
._ae1l {
    border-radius: 8px;
}
._ae1i {
    background-color: rgb(var(--ig-primary-background));
}
._ae3w {
    border-left: 1px solid rgb(var(--post-separator));
    padding: 0px;
}
._ae2s {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: var(--media-info);
    position: relative;
    width: 100%;
    padding: 0px 16px;
}

._aamu {
    display: flex;
    flex-direction: row;
}
._ae41 {
    padding-left: 12px;
    padding-right: 12px;
}
._ae48 {
    padding-left: 16px;
    padding-right: 16px;
}
._ae40 {
    padding-bottom: 6px;
    padding-top: 0px;
}
._ae3_ {
    padding-bottom: 8px;
    padding-top: 6px;
}
._aamw {
    display: inline-block;
    margin-left: -8px;
}
._aamx, ._aamy {
    display: inline-block;
}
._aamz {
    display: inline-block;
    vertical-align: baseline;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    margin: 0px -10px 0px auto;
    padding: 0px;
}
._abm1 {
    display: none;
}
._abl_ {
    display: block;
}

._ae5p {
    padding-left: 12px;
    padding-right: 12px;
}
._ae5o {
    padding-left: 16px;
    padding-right: 16px;
}
._ae5m {
    margin-bottom: 8px;
}
._ab9o {
    min-height: 0px;
    min-width: 0px;
    flex: 1 1 auto;
}
._abce {
    margin-top: auto;
}
._abby {
    margin-right: auto;
}
._abbg {
    margin-left: auto;
}
._aba- {
    margin-bottom: auto;
}
._ab9r {
    flex-wrap: wrap;
}
._aad6 {
    display: block;
}
._aacx {
    color: rgb(var(--ig-primary-text));
}
._aacu {
    font-weight: var(--font-weight-system-regular);
}
._aade {
    margin: 0px;
}
._aaco {
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    margin: -3px 0px -4px;
}
._aacl {
    font-family: var(--font-family-system);
}
._ae5t {
    margin: 0px 0px auto;
    padding: 0px 12px;
}
._ae5s {
    margin: 0px 0px auto;
    padding: 0px 16px;
}
._ae5q {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 4px;
    min-height: 0px;
    position: relative;
    overflow: auto;
}
._ae5x {
    padding-left: 12px;
    margin-bottom: 12px;
}
._ae5w {
    padding-left: 16px;
}
._ae5u {
    margin-bottom: 16px;
}

._ae62 {
    padding-right: 16px;
}
._ae60 {
    padding-left: 12px;
    padding-right: 12px;
}
._ae5_ {
    padding-bottom: 4px;
    padding-top: 4px;
}
._ae5y {
    padding-bottom: 6px;
    padding-top: 6px;
}
._aaoe {
    color: rgb(var(--ig-secondary-text));
    flex-shrink: 0;
    font-size: var(--system-14-font-size);
    justify-content: center;
    line-height: var(--system-14-line-height);
    position: relative;
    border-top: 1px solid rgb(var(--post-separator));
}
._aidk {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    vertical-align: baseline;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    margin: 0px;
    padding: 0px;
}

.xnalus7 {
    width: 0px;
}
.xxxdfa6 {
    border-left: none;
}
.xwmqs3e xwmqs3e {
    border-right: none;
}
.xtt52l0 {
    resize: none;
}
.xlk1fp6 {
    max-height: 80px;
}
._aak9 {
    position: sticky;
    top: calc(30px + var(--desktop-nav-height));
}
._aak6 {
    height: 100vh;
    margin-bottom: 30px;
    top: 60px;
    padding: 0px;
}
._aak4, ._aak6 {
    flex-shrink: 0;
    max-width: var(--feed-sidebar-width);
    position: absolute;
    right: 0px;
    width: 100%;
}
._aakc {
    height: 66px;
    margin-bottom: 10px;
    margin-top: 16px;
}
._aakb {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 62px;
    justify-content: space-between;
}
._abbh {
    margin-right: var(--base-unit);
}